<h1><marquee behavior="scroll" direction="left">Do the bustle</marquee></h1>

<img src="http://media.giphy.com/media/1uU7YujDkCijK/giphy.gif"/>

<iframe width="0" height="0" src="https://www.youtube.com/embed/LJv2QwE1YaQ?autoplay=1" frameborder="0" allowfullscreen autoplay></iframe>
