<h1>Gettin It</h1>

<button class="btn" type="submit" {{action 'previousArticle'}}><span class="glyphicon glyphicon-arrow-left"></span></button>
<button class="btn" type="submit" {{action 'nextArticle'}}><span class="glyphicon glyphicon-arrow-right"></span></button>
<br>
<br>
<img class="whatever" {{bind-attr src=startPicture}}>


{{outlet}}
