<h1><marquee behavior="scroll" direction="right">GETTIN IT!</marquee></h1>

<div class="col-md-6">
<marquee behavior="scroll" direction="right" scrollamount="20"><img src="http://cdn.osxdaily.com/wp-content/uploads/2013/07/dancing-banana.gif"/></marquee>
</div>
<div class="col-md-6">
<marquee behavior="alternate"><img src="http://cdn.osxdaily.com/wp-content/uploads/2013/07/dancing-banana.gif"/></marquee>
</div>
<div class="col-md-6">
<marquee behavior="scroll" direction="up"><img src="http://cdn.osxdaily.com/wp-content/uploads/2013/07/dancing-banana.gif"/></marquee>
</div>

<iframe width="0" height="0" src="https://www.youtube.com/embed/VxU_vEePLlo?autoplay=1" frameborder="0" allowfullscreen></iframe>
